body {background-image:url("https://wallpaperaccess.com/full/765801.jpg");
    margin: 0;
    }
    /* Typsnitt för vissa element på index-sidan */
    @font-face {
      font-family: signerica;
      src: url(./Signerica_Fat.ttf);

    }
    /*Parametrar för kort 1 i varukorgen*/
    .card {
      position: absolute; /*Bestämmer hur kortet sitter på skärmen, i detta fall stannar den på den plats som den är ombedd att stanna oavsett scroll*/
      display: flex; /*Gör att kortet följer storleken på skärmen*/
      flex-direction: column; /*I vilken ordning kortet sitter med andra kort*/
        top: 300px; /*Position från toppen av sidan, i detta fall 300px*/
        left: 250px; /*Position från vänster sida, i detta fall 250px*/
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /*Skugga bakom kortet*/
        max-width: 300px; /*Max bredd är 300px*/
        margin: auto; /*Bestämmer storlek*/
        text-align: center; /*Sätter text i mitten på kortet*/
        font-family: arial; /*Definerar vilken font texten har*/
      }
      
      .price {
        color: grey; /*Sätter texten inom klassen price till grå färg*/
        font-size: 22px; /*Ändrar storleken på fonten till 22px*/
      }
      
      .button {
        border: none; /*Bestämmer vilken typ av border som är runt knappen*/
        outline: 0; /*Bestämmer en outline, en låda utanför bordern*/
        padding: 12px; /*Generar utrymme i form av en rektangel */
        color: white; /*Bestämmer färgen på knappen*/
        background-color: #000; /*Bestämmer bakgrundsfärgen på knappen*/
        text-align: center; /*Sätter text i knappen mitt i*/
        cursor: pointer; /*Bestämmer hur muspekaren ser ut medans den hovrar över knappen*/
        width: 100%; /*Bredden följer skärmens storlek*/
        font-size: 18px; /*Bestämmer storleken på typsnittet*/
      }

      .PayPalBtn {
        border: none; /*Bestämmer vilken typ av border som är runt knappen*/
        outline: 0; /*Bestämmer en outline, en låda utanför bordern*/
        padding: 12px; /*Generar utrymme i form av en rektangel */
        color: white; /*Bestämmer färgen på knappen*/
        background-color: #000; /*Bestämmer bakgrundsfärgen på knappen*/
        text-align: center; /*Sätter text i knappen mitt i*/
        cursor: pointer; /*Bestämmer hur muspekaren ser ut medans den hovrar över knappen*/
        width: 100%; /*Bredden följer skärmens storlek*/
        font-size: 18px; /*Bestämmer storleken på typsnittet*/
      }
      .PayBtnApl {
        border: none; /*Bestämmer vilken typ av border som är runt knappen*/
      outline: 0; /*Bestämmer en outline, en låda utanför bordern*/
      padding: 12px; /*Generar utrymme i form av en rektangel */
      color: white; /*Bestämmer färgen på knappen*/
      background-color: #000; /*Bestämmer bakgrundsfärgen på knappen*/
      text-align: center; /*Sätter text i knappen mitt i*/
      cursor: pointer; /*Bestämmer hur muspekaren ser ut medans den hovrar över knappen*/
      width: 100%; /*Bredden följer skärmens storlek*/
      font-size: 18px; /*Bestämmer storleken på typsnittet*/
      }

      .card2 {
        position: absolute; /*Bestämmer hur kortet sitter på skärmen, i detta fall stannar den på den plats som den är ombedd att stanna oavsett scroll*/
        display: flex; /*Gör att kortet följer storleken på skärmen*/
        flex-direction: column; /*I vilken ordning kortet sitter med andra kort*/
        top: 300px; /*Position från toppen av sidan, i detta fall 300px*/
        left: 570px; /*Position från vänster sida, i detta fall 570px*/
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /*Skugga bakom kortet*/
        max-width: 300px; /*Max bredd är 300px*/
        margin: auto; /*Bestämmer storlek*/
        text-align: center; /*Sätter text i mitten på kortet*/
        font-family: arial; /*Definerar vilken font texten har*/
      }
      .card2 button:hover {
        opacity: 0.7; /*Bestämmer transparens för knappen under kort*/
      }

      .card3 {
        position: absolute; /*Bestämmer hur kortet sitter på skärmen, i detta fall stannar den på den plats som den är ombedd att stanna oavsett scroll*/
        display: flex; /*Gör att kortet följer storleken på skärmen*/
        flex-direction: column; /*I vilken ordning kortet sitter med andra kort*/
        top: 300px; /*Position från toppen av sidan, i detta fall 300px*/
        left: 890px; /*Position från vänster sida, i detta fall 890px*/
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /*Skugga bakom kortet*/
        max-width: 300px; /*Max bredd är 300px*/
        margin: auto; /*Bestämmer storlek*/
        text-align: center; /*Sätter text i mitten på kortet*/
        font-family: arial; /*Definerar vilken font texten har*/
      }
    



    
    /* Sätter bakgrund för meny */
    .topnav {
      
      overflow: hidden;
      display: flex;
      justify-content: center;
      
      
      
    }
    
    /* Stylar länkar i menyn */
    .topnav a {
 
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      justify-content: center;
      
    }
    
    /* Ändrar färg på länkar vid hover */
    .topnav a:hover {
      background-color: black;
      color: white;
    }
    
    /* Lägger till en färg på den aktiva länken */
    .topnav a.active {
      background-color: black;
      color: white;
    }
    .maindiv {
      margin: auto; /*Bestämmer storlek*/
      display: flex; /*Gör att kortet följer storleken på skärmen*/
      justify-content: center; /*Lägger allt i div i mitten*/
      height: 216px; /*Sätter höjd på div till 216px*/
      width: 1000px; /*Sätter bredd på div till 1000px*/
      /* border: 3px white; */
      background-color: white; /*Lägger vit som bakgrundsfärg*/
    }
    .maindiv2 {
      margin: auto; /*Bestämmer storlek*/
      display: flex; /*Gör att kortet följer storleken på skärmen*/
      justify-content: center; /*Lägger allt i div i mitten*/
      height: 700px; /*Sätter höjd på div till 700px*/
      width: 1000px; /*Sätter bredd på div till 1000px*/
      /* border: 3px white; */
      background-color: white; /*Lägger vit som bakgrundsfärg*/
    }
    
    .flex-container {
      display: flex; /*Gör att kortet följer storleken på skärmen*/
      flex-direction: column; /*I vilken ordning kortet sitter med andra kort*/
    }
    /*När skärmen är mindre än 800px, så aktiveras nedan*/
    @media screen and (max-width: 800px) {
      .topnav {
        justify-content: left; /*Lägger allt innehåll till vänster på skärmen*/
        max-width: 300px; /*Max bredd är 300px*/
    }
  
  .topnav a {
    padding: 14px 16px; /*Generar utrymme i form av en rektangel */
      font-size: 5px; /*Bestämmer storlek på typsnittet*/
      float: none; /*Innehållet kommer inte att flyttas*/
  }
  .image {
    display: none; /*Innehållet kommer inte att visas*/        
        }
        .maindiv {
          justify-content: left; /*Lägger allt innehåll på vänster sida*/
          left: 0px; /*Bestämmer hur många pixlar ifrån den vänstra sidan som innehållet kommer visas*/
  width: 375px; /*Bestämmer bredd*/
  display: none; /*Innehållet kommer inte visas*/
        }
        .maindiv2 {
      
      
          justify-content: left; /*Lägger allt innehåll på vänster sida*/
          height: 3000px; /*Bestämmer höjd, i detta fall 3000px*/
          width: 375px; /*Bestämmer bredd, i detta fall 375px*/
          background-color: white; /*Sätter vit som bakgrundsfärgen*/
        }
        body {background-image:url(""); /*Tar bort bakgrundsbilden*/
          margin: 0; /*Bestämmer storlek*/
          overflow-x: hidden; /*Gömmer overflödande innehåll*/
          }
          .välkommenTillJeez {
                
            text-align: center; /*Lägger text i mitten av skärmen*/
          }
              .card {
                top: 150px; /*Lägger kortet 150px ifrån toppen av skärmen*/
                left: 0px; /*Lägger kortet 0px ifrån den vänstra sidan av skärmen*/
                font-size: 7px; /*Ändrar storlek på typsnitt till 7px*/
          
              }
              .card2 {
                top: 820px; /*Lägger kortet 820px ifrån toppen av skärmen*/
                left: 0px; /*Lägger kortet 0px ifrån den vänstra sidan av skärmen*/
                font-size: 7px; /*Ändrar storlek på typsnitt till 7px*/
          
              }
              .card3 {
                top: 150px; /*Lägger kortet 150px ifrån toppen av skärmen*/
                left: 300px; /*Lägger kortet 300px ifrån den vänstra sidan av skärmen*/
                font-size: 7px; /*Ändrar storlek på typsnitt till 7px*/
          
              
    }

    }