body {background-image:url("https://wallpaperaccess.com/full/765801.jpg");
    margin: 0;
    }
    /* Font face för vissa element på index-sidan */
    @font-face {
      font-family: signerica;
      src: url(./Signerica_Fat.ttf);

    }
    
    .col-sm-3 {
      width: 25%;
      float: left;
      position: relative;
    }
    
    /* Lägger till en svart bakgrundsfärg till menyn */
    .topnav {
      
      overflow: hidden;
      display: flex;
      justify-content: center;
      
      
      
    }
    
    /* Stylar länkarna inuti menyn */
    .topnav a {
  
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      justify-content: center;
      
    }
    
    /* Ändrar färgen på länkar vid hover*/
    .topnav a:hover {
      background-color: black;
      color: white;
    }
    
    /* Lägger till en färg till den aktiva länken i menyn */
    .topnav a.active {
      background-color: black;
      color: white;
    }
    /* Sätter parametrar för maindiv, det vita blocket som agerar bakgrund */
    .maindiv {
      margin: auto;
      display: flex;
      justify-content: center; /*Lägger allt i div i mitten*/
      height: 216px; /*Justerar höjd*/
      width: 1000px;/*Justerar bredd*/
      
      background-color: white;
    }
    .maindiv2 {
      margin: auto;
      display: flex;
      justify-content: center;
      height: 3000px;
      width: 1000px;
      /* border: 3px white; */
      background-color: white;
    }
    
    .flex-container {
      display: flex;
      flex-direction: column;
    }
    
    .card {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 350px;
      left: 250px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    
    .price {
      color: grey;
      font-size: 22px;
    }
    
    .button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    .button:hover {
      opacity: 0.7;
    }
    
     .card2 {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 350px;
      left: 570px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    .card2 button:hover {
      opacity: 0.7;
    }
     
    .card3 {
      position: absolute;
      display: flex; 
      flex-direction: column;
      top: 350px;
      left: 890px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    .card3 button:hover {
      opacity: 0.7;
    }
    
    .maindiv3 {
      margin: auto;
      display: flex;
      justify-content: center;
      height: 3000px;
      width: 1000px;
      /* border: 3px white; */
      background-color: white;
    }
    
    
    @media screen and (max-width: 800px) {
      .topnav {
          justify-content: left;
          max-width: 300px;
      }
    
    .topnav a {
      padding: 14px 16px;
        font-size: 5px;
        float: none;
    }
    .image {
      display: none;        
          }
          .maindiv {
              justify-content: left;
              left: 0px;
      width: 375px;
      display: none;
            }
            .maindiv2 {
      
      
              justify-content: left;
              height: 3000px;
              width: 375px;
              background-color: white;
            }
            body {background-image:url("");
              margin: 0;
              overflow-x: hidden;
              }
              .välkommenTillJeez {
                
                text-align: center;
              }
    
              .card {
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 300px;
                left: 0px;

              }
              
              .card2 {
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 970px;
                left: 0px;

              }

              .card3 {
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 1640px;
                left: 0px;

              }


              
    }